body{
    font-family: 'roboto', Courier, monospace;
    margin: 0px;
    color: #F9FAF8;
}

.header{
    background-color: #1F2937 ;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px 0px 0px;
}

.header-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 430px;
}
.header-logo p{
    font-size: 24px;
    font-weight: bold;
}
.header-links a{
    font-size: 18px;
    color: #E5E7EB;
} 

ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}
li :hover{
    color: orange;
}
.sign-up :hover{
    color: orange;
}
.header-links{
    display: flex;
    width: 420px;
    justify-content: flex-end;
    align-items: center;
}
a{
    text-decoration: none;
}
.content-one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    background-color: #1F2937 ;
}
.left-container{
    flex: 0 1 auto;
    width: 400px;
    padding: 15px;
}
h1{
    margin: 7px 0px;
}
.right-container{
    flex: 0 1 auto;
    width:400px;
    padding: 15px 0px;
}
.sign-up{
    background-color: #3882F6;
    padding: 7px 30px;
    border: 3px;
    color: #E5E7EB;
    border-radius: 5px;
    font-weight: bold;
    margin: 8px;
}
.content-two{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info-header{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}
.info-header h2{
    color: #1F2937;
    font-size: xx-large;
}
.info-grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.box{
    max-width: 200px;
    flex: 0 1 auto;
    padding: 10px;
}
.box-text{
    text-align: center;
    color: black;
}
img{
    display: flex;
    justify-content: center;
    width: 200px;
}
.content-three{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.quote-container{
    font-style: italic;
    flex: 0 1 auto;
    width: 700px;
}
.quote{
    font-size: 36px;
    color: #1F2937;
}
.quote-author{
    text-align: end;
    color: #1F2937;
}
.content-four{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
    background-color: #F9FAF8;

}
.action-container{
    background-color: #3882F6;
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 auto;
    border-radius: 10px;
    width: 700px;

}
.body-text{
    margin: 3px;
    font-size: large;
}
.action-left h4{
    margin: 3px;
    font-size: large;
}
.action-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-right .sign-up{
    border: 2px solid #E5E7EB;
}
.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}